/agendar/
/auto/
/elpa/
/eshell/
~*

/smex-items
/server/
/org-clock-save.el
/.emacs.desktop
\#*\#
/ido.last
/.org-id-locations
/projectile-bookmarks.eld
/projectile.cache
/ede-projects.el
/semanticdb/
